body{
	margin:0;
	background-color: #E7FAFA;
	overflow-x:clip;
}

.navbar{
	position:relative;
	padding:0;
}

#brand{
	position:absolute;
	top:60px;
	font-size:30px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	margin-left:100px;
}

#g20{
	position: absolute;
	right:40px;
}

#brand a:hover, #brand a:focus {
  text-decoration: none;
}

#brand a{
	color:white;
	text-decoration: none;
}


#iso{
	font-size: 0.6em;
}

#marquee{
	color:white;
	font-weight: bold;
	background-color:#003866 ;
	position:absolute;
	top:0;
	width:100%;
	left:0;
	padding-top:5px;
	padding-bottom:5px;
}

#news{
	position:absolute;
	top:14.5px;
	background-color:red;
	padding:3px;
}


.navbar-nav{
	margin-top:180px;
	position: absolute;
	left:0px;
	background-color:#003866 ;
	width:100%;

}

.navbar-nav .nav-link {
	color:white;
	font-weight: bold;
}

.navbar-nav .nav-link:hover{
	background-color: gray;
}

.nav-item{
	margin-right: 50px;
}

#navbar{
	position: relative;
	background-color:white;
    opacity:1;
    height:220px;
}

.carousel-inner{
	height:auto;
}

/*#carouselExampleAutoplaying{
	height:600px;
}*/



#first,#second,#third{
	height: 100%;
	width:100%;
}



#about{
	height: auto;
	padding-top:20px;
	padding-bottom: 50px;
	background-color: black;
	position: relative;
	margin-top:0;
	opacity: 0.8;
}

#about p{
	color:white;
	font-size: 1.2em;
	margin-left:20px;
}

#about h2{
	position: relative;
	color:white;
}

#about a{
	position: absolute;
	right:30px;
	float:right;
	margin-right:20px;
}

#updates{
	color:black;
	text-align: center;
	position:relative;
	margin-top:30px;
	margin-bottom:20px;
}

#image{
	position: absolute;
	padding-top:20px;
}

#highlights{
	text-align: center;
	margin-top:80px;
	margin-bottom: 20px;
}

/*#button{
	position:relative;
}

#btn{
	position:absolute;
}*/



/*#library{
	background-image: url("../images/1.jpg");
	width:300px;
	padding:10px;
	height:300px;
	margin-right:20%;
	margin-left: 20%;
	margin-bottom:30px;
}

#placements{
	background-image: url("../images/1.jpg");
	width:300px;
	padding:10px;
	height:300px;
	margin-right:20%;
	margin-left: 20%;
	margin-bottom:30px;

	
}
#hostels{
	background-image: url("../images/1.jpg");
	width:300px;
	height:300px;
	padding:10px;
	margin-right:auto;
	margin-left: 20%;
	margin-bottom:30px;
}
*/
#library, #placements, #hostels{
  background-image: url("../images/1.jpg");
  height:250px;
  width:100%;
  margin-bottom:15px;
  position: relative;
  border:2px solid #3F0C1F;
  overflow:hidden;
  margin-left:10%;
}

#library span, #placements span, #hostels span{
  position: absolute;
  bottom:0;
  right:0;
  width:100%;
  text-align:center;
  font-size:1.6em;
  text-transform:uppercase;
  background-color:#000;
  color:#fff;
  opacity:.8;
}

#library:hover, #placements:hover,#hostels:hover{
  box-shadow: 0 5px 10px 5px #00555a ;
}

#home-tiles3{
	margin-bottom:20px;
	width: 95%;
}

#announcements{
	margin-top:70px;
	text-align: center;
	margin-bottom: 30px;
}

.list-group{
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid black;
	box-shadow:2px 2px 5px 5px;
    
}

.list-group a{
    text-align: center;
    
}

.panel-footer{
  color:white;
  margin-top:30px;
  padding-top:35px;
  padding-bottom:30px;
  background-color:#003866;
  border-top:0;
}

.panel-footer div.row{
  margin-bottom:35px;
}

#hours>span, #address > span{
  font-size: 1.3em;
}

#address p{
  color: #557c3e;
  font-size: 0.8em;
  line-height: 1.8;
}

#testimonials{
  font-style: italic;
}

#testimonials p:nth-child(2){
  margin-top:25px;
}

#link{
	text-decoration: underline;
	color:white;
}

@media(max-width: 1220px){
	.nav-item{
		margin-right: 20px;
	}

}

@media(max-width: 992px){
    .navbar{
    	height: 170px;
    	opacity:1;
    }



    .navbar-nav{
    	text-align: center;
    }

    #first,#second,#third{
		height: 10%;
		width:100%;
	}



/*	#carouselExampleAutoplaying{
	    height:500px;
	    overflow-y:clip;
    }*/


    #home-tiles1{
    	
    }

    .navbar-nav{
    	margin-top:0px;
    }


    #g20{
    	visibility: hidden;
    }

    #navbar{
    	height:180px;
    }

    .navbar-toggler{
    	margin-top: 50px;
    }

/*	h2{
		color:white;
		position:absolute;
		margin-left: 30px;
		margin-top:25px;
		font-family: 'Lora', serif;
	}*/

	#hostels{
		margin-left:50%;
		margin-right:50%;
	}

}


@media(max-width: 768px){
/*    #carouselExampleAutoplaying{
	    height:400px;
    }*/

    #about p{
    	font-size: 16px;
    }

    #brand{
    	font-size: 1.6em;
    	margin-top: 10px;
    }

    #g20{
    	visibility: hidden;
    }



    #hostels{
        margin:0;
	}

}



@media(min-width: 992px){
	.mt-3{
		visibility: hidden;
		position:relative;
		margin-left:50px;
	}

	#logo{
	    margin-bottom: 25px;
}
}

@media(max-width: 600px){
/*	#carouselExampleAutoplaying{
	    height:320px;

    }*/

    #logo img{
    	height:70px;
    	width: 90%;
    }

    #logo{
    	margin-top: 10px;
    }
}

@media(max-width:544px){
	#about p{
		font-size: 15px;
	}

	#library, #placements, #hostels{
		margin-left:10%;
        
	}

	#home-tiles3{
		width: 90%;
	}


}

